<!-->para que refresquen los cambios se debe inicializar nodemon con la bandera e.
Por ejemplo: nodemon server.js -e js,hbs<-->
<footer>
  <p>Created by Sebastian - Copyright {{getCurrentYear}}</p>
</footer>
